@media screen and (max-width: 768px) {
  header button.btn-portal {
    border: 1px solid transparent;
    padding: 0;
  }
  header .menu-nav ul {
    position: absolute;
    background-color: #333;
    top: 95%;
    left: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    display: none;
  }

  header .menu-nav ul.open {
    display: flex;
    left: 0;
  }

  header .menu-nav ul li {
    margin: 10px 0;
  }

  header.rolagem .menu-nav ul {
    top: 0%;
    height: 80vh;
  }

  header.rolagem .menu-icon{
    display: block;
  }

  header .menu-icon {
    display: block;
    position: absolute;
    width: 60px;
    left: 80%;
  }

  .banner-site .banner-texto h1 {
    font-size: 4em;
    line-height: 50px;
    text-align: center;
    margin-bottom: 35px;
  }

  .banner-site .banner-texto p {
    font-size: 20px;
    margin-top: 100px;
    text-align: center;
  }

  .banner-site button {
    margin: 0 auto;
    display: block;
  }

  .card h3 {
    font-size: 30px;
  }

  .formas-ingresso .txt-ingresso h3 {
    font-size: 3.5em;
    line-height: 60px;
  }

  .contato .icons-contato button {
    width: 80%;
    padding: 0 40px;
  }

  /* Botão WhatsApp */
  .btn-whatsapp {
    display: none;
  }
}

@media screen and (max-width: 450px) {

  /* Estilo do menu mobile */
  header .btn-menu-mobile {
    background-color: #333;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 70%;
  }

  .btn-menu-mobile .btn-fechar{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  header .btn-menu-mobile nav ul{
    text-align: right;
    margin-top: 100px;
  }

  header .btn-menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 6%;
    display: block;
    text-decoration: none;    
  }

  header .btn-menu-mobile nav ul li a:hover{
    background-color: white;
    color: #333;
  }

  /* Seção Formas de Ingresso */
  .txt-ingresso,
  .cards-ingresso {
    display: block;
    width: 100%;
  }

  .formas-ingresso .txt-ingresso {
    position: static;
  }

  .formas-ingresso .txt-ingresso h3 {
    font-size: 3em;
    line-height: 50px;
  }

  .cards-ingresso .cards-box {
    flex-direction: column;
    text-align: center;
  }

  /* Seção Contato */
  .txt-contato,
  .icons-contato {
    display: block;
    width: 100%;
  }

  .contato .txt-contato h3 {
    font-size: 2em;
    line-height: 40px;
  }

  .contato .icons-contato button {
    width: 100%;
    border: 2px solid black;
  }

  .contato .icons-contato button p {
    font-size: 1.5em;
    color: black;
  }

  .contato .icons-contato button i {
    font-size: 20px;
    color: black;
  }

  /* Botão WhatsApp */
  .btn-whatsapp {
    display: none;
  }
}
