/* Reset de estilo e configuração geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  height: 500vh;
}

/* Container principal */
.interface {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 1000;
}

header.rolagem {
  background-color: white;
  padding: 20px 0;
  z-index: 1000;
}

header.rolagem .menu-desktop nav ul li a {
  color: #333;
}

header.rolagem .btn-portal button {
  background-color: #333;
  color: white;
}

header .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 180px;
}

header .menu-desktop nav ul {
  list-style-type: none;
}

header .menu-desktop nav ul li {
  display: inline-block;
  margin: 0 20px;
}

header .menu-desktop nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: inline-block;
  transition: 0.3s;
}

.menu-desktop nav a:hover {
  transform: scale(1.05);
}

header .btn-portal button {
  width: 200px;
  right: 80px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.5s;
}

header .btn-portal button:hover {
  background-color: white;
  color: #333;
}

/* Seção Banner Site */
section.banner-site {
  height: 100vh;
  background-image: url(../img/polo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
}

.banner-site .interface {
  display: flex;
  align-items: center;
  height: 100%;
}

.banner-site .banner-texto h1 {
  font-size: 4em;
  line-height: 90px;
  font-weight: 200;
}

.banner-site .banner-texto h1 span {
  display: block;
  font-weight: 700;
}

.banner-site .banner-texto p {
  font-size: 20px;
  margin: 20px 0;
}

.banner-site button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.5s;
}

.banner-site button:hover {
  background-color: white;
  color: #333;
}

/* Seção Facilidades EAD */
section.facilidades-ead {
  padding: 100px 0;
  background-image: url(../img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facilidades-conteudo {
  text-align: center;
  margin-bottom: 40px;
}

.facilidades-conteudo h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.facilidades-conteudo p {
  font-size: 1.2em;
  color: whitesmoke;
}

.itens-conteiner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.txt-itens {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.txt-itens h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.txt-itens p {
  font-size: 1em;
  color: #555;
}

/* Seção Ofertas de Cursos */
section.ofertas-cursos {
  padding: 100px 0;
  background-image: url(../img/abstract-green-smooth-wave-lines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oferta-ead {
  text-align: center;
  margin-bottom: 40px;
}

.oferta-ead h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.oferta-ead p {
  font-size: 1.2em;
  color: white;
}

.cursos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

/* Estilos para os cartões */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  border: 2px solid #333;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

/* Estilos para os botões */
.btn-curso {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-curso:hover {
  background-color: #333;
}

/* Seção Formas de Ingresso */
section.formas-ingresso {
  padding: 80px 0;
  background-image: url(../img/paper-mockup-design-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.txt-ingresso,
.cards-ingresso {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}

.formas-ingresso .txt-ingresso {
  position: sticky;
  top: 50%;
  padding: 40px;
  z-index: 500;
}

.formas-ingresso .txt-ingresso h3 {
  font-size: 4em;
  line-height: 60px;
  font-weight: 300;
}

.formas-ingresso .txt-ingresso h3 span {
  display: block;
  font-weight: 700;
}

.cards-ingresso .cards-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  border: 2px solid #333;
  padding: 20px;
}

.cards-ingresso .cards-box img {
  max-width: 100px;
}

.cards-ingresso .cards-box h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.cards-ingresso .cards-box p {
  font-size: 1em;
  line-height: 20px;
  font-weight: 300;
}

.cards-ingresso .cards-box p span {
  font-weight: 700;
}

/* Seção Contato */
section.contato {
  padding: 80px 0;
  background-image: url(../img/Captura\ de\ tela\ 2025-01-31\ 224033.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.txt-contato,
.icons-contato {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}

.contato .txt-contato h3 {
  font-size: 2.5em;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.contato .txt-contato h3 span {
  display: block;
  font-weight: 800;
}

.contato .txt-contato p {
  font-size: 1.2em;
  color: #555;
  padding: 20px 0;
}

.contato .icons-contato a {
  text-decoration: none;
}

.contato .icons-contato button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  width: 60%;
  height: 60px;
  margin: 0 auto 20px auto;
  padding: 0 60px;
  background-color: transparent;
  border: 2px solid #333;
  cursor: pointer;
  transition: 0.5s;
}

.contato .icons-contato button p {
  font-size: 1.2em;
  color: #333;
}

.contato .icons-contato button i {
  font-size: 20px;
}

.contato .icons-contato button:hover {
  background-color: #333;
}

.contato .icons-contato button:hover i,
.contato .icons-contato button:hover p {
  color: white;
}

/* Estilo geral da seção FAQ */
.faq {
  background-image: url(../img/empty-elegant-background-with-copy-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.faq-container h2 {
  text-align: center;
  font-size: 3em;
  color: black;
  margin-bottom: 40px;
}

/* Estilo dos itens do FAQ */
.faq-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.faq-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo dos botões de pergunta */
.faq-question {
  width: 100%;
  padding: 20px 25px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #e0e0e0;
}

.faq-question.active {
  background-color: #333;
  color: #fff;
}

/* Estilo das respostas */
.faq-answer {
  display: none;
  padding: 20px 25px;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.faq-answer p {
  margin: 0;
}

/* Exibir resposta quando a pergunta está ativa */
.faq-question.active + .faq-answer {
  display: block;
}

/* Botão WhatsApp */
.btn-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000; /* Garantir que o botão fique por cima de outros elementos */
}

.btn-whatsapp img {
  width: 40px;
  height: 40px;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  width: 100%;
  text-align: center;
  color: white;
  padding: 40px 0;
}

footer .top-footer button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
}

footer .top-footer button:hover {
  background-color: white;
  color: #333;
}

footer .meio-footer {
  margin: 20px 0;
}

footer .meio-footer a {
  color: white;
  margin: 0 10px;
}

footer .footer-direitos {
  color: white;
  margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .cursos-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}
