* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff; /* Cor de fundo do cabeçalho */
}

.logo img {
  max-width: 150px; /* Ajuste o tamanho máximo da imagem conforme necessário */
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px; /* Espaçamento entre os itens do menu */
}

.menu a {
  text-decoration: none;
  color: white; /* Cor do texto dos links */
  padding: 10px;
  border-radius: 5px;
}

.botao-portal {
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}

body {
  font-family: Arboria, sans-serif;
  color: #000;
  background-color: #fff;
}

header {
  background-color: #00663a;
  color: #fff;
  padding: 20px;
}


/* Estilos para a seção de Facilidades do EAD */
.facilidades-ead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.facilidades-conteudo {
  flex: 1;
  padding: 1rem;
}

.facilidades-conteudo h2 {
  font-size: 2rem;
  color: #333;
}

.facilidades-conteudo p {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #555;
}

.facilidades-conteudo ul {
  list-style: none;
  padding: 0;
}

.facilidades-conteudo ul li {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #333;
  display: flex;
  align-items: center;
}

.facilidades-conteudo ul li::before {
  content: "✔️";
  margin-right: 0.5rem;
  color: #00663a;
}

.btn-cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-cta:hover {
  background-color: #0056b3;
}

.facilidades-imagem {
  flex: 1;
  text-align: center;
}

.facilidades-imagem img {
  max-width: 100%;
  height: auto;
}

/* Estilos para a seção de Cursos em Destaque */

.ofertas-cursos {
  background-color: #f3f3f3;
  padding: 2rem 1rem;
  text-align: center;
}

.ofertas-cursos h2 {
  font-size: 2rem;
  color: #333;
}

.ofertas-cursos p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: left;
  width: 280px;
}

.card h3 {
  font-size: 1.5rem;
  color: #00663a;
  margin-bottom: 1rem;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.btn-cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #00663a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-cta:hover {
  background-color: #00663a;
}

/* Estilos para a seção de Vantagens do EAD */

.vantagens-ead {
  background-color: #f9f9f9;
  padding: 2rem 1rem;
  text-align: center;
}

.vantagens-ead h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.vantagens-ead p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.vantagens-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.vantagem-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: left;
  width: 300px;
}

.vantagem-item h3 {
  font-size: 1.3rem;
  color: #00663a;
  margin-bottom: 0.5rem;
}

.vantagem-item p {
  font-size: 1rem;
  color: #333;
}

/* Estilos para a seção de Formas de Ingresso */

.formas-ingresso {
  background-color: #ffffff;
  padding: 2rem 1rem;
  text-align: center;
}

.formas-ingresso h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.formas-ingresso p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: left;
  width: 280px;
}

.card h3 {
  font-size: 1.4rem;
  color: #00663a;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  color: #333;
}

/* Estilos para a seção de Perguntas Frequentes */

.faq {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
}

.faq h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.faq-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-question {
  background-color: #00663a;
  color: white;
  border: none;
  padding: 1rem;
  width: 50%;
  font-size: 1.1rem;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.faq-question:hover {
  background-color: aquamarine;
}

.faq-answer {
  display: none;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.faq-answer p {
  font-size: 1rem;
  color: #555;
}

/* Estilos do Rodapé */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #333;
  color: white;
  padding: 20px;
}

footer h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

footer p,
footer a {
  font-size: 1rem;
  color: white;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Estilos para os Contatos */
.footer-contato,
.footer-links,
.footer-redes,
.footer-mec,
.footer-direitos {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Ajuste nos Links */
.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-redes a,
.footer-mec a {
  display: block;
  margin-bottom: 10px;
}

/* Ajuste de Responsividade para telas menores */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-contato,
  .footer-links,
  .footer-redes,
  .footer-mec,
  .footer-direitos {
    flex: unset;
    margin-right: 0;
  }

  .footer-direitos {
    text-align: center;
    margin-top: 20px;
  }
}

/* Estilo para o botão fixo do WhatsApp */
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000; /* Garantir que o botão fique por cima de outros elementos */
}

.whatsapp-btn img {
  width: 40px;
  height: 40px;
}

.whatsapp-btn:hover {
  background-color: #128c7e;
}

/* Estilos para os blocos de cursos */
.courses-section {
  margin: 40px 0;
  text-align: center;
}

.courses-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.course-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
}

.course-card img {
  max-width: 100%;
  border-radius: 8px;
}

.course-card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.course-card p {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
}

.btn-saiba-mais {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0066cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-saiba-mais:hover {
  background-color: #004c99;
}

/* Seção de Informações de Contato */
#informacoes-contato {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

#informacoes-contato h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

#informacoes-contato p,
#informacoes-contato ul {
  font-size: 1.1em;
}

#informacoes-contato ul {
  list-style-type: none;
  margin-left: 0;
}

#informacoes-contato li {
  margin-bottom: 8px;
}

/* Seção de Localização */
#localizacao {
  text-align: center;
  margin: 20px 0;
}

#localizacao iframe {
  max-width: 100%;
  height: 450px;
  border: none;
}

/* Formulário de Contato */
#formulario-contato {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

#formulario-contato h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

#formulario-contato label {
  font-size: 1.1em;
  margin-bottom: 5px;
  display: block;
}

#formulario-contato input,
#formulario-contato textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

#formulario-contato textarea {
  height: 150px;
}

#formulario-contato button {
  background-color: #004aad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#formulario-contato button:hover {
  background-color: #003b8a;
}

/* Seção de Redes Sociais */
#redes-sociais {
  text-align: center;
  margin: 40px 0;
}

#redes-sociais h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

#redes-sociais ul {
  list-style-type: none;
}

#redes-sociais li {
  display: inline;
  margin: 0 15px;
}

#redes-sociais a {
  text-decoration: none;
  font-size: 1.2em;
  color: #004aad;
  transition: color 0.3s ease;
}

#redes-sociais a:hover {
  color: #003b8a;
}
